@import 'reset';

* {
  font-family: 'Roboto', sans-serif;
}
.introduction-sec {
  margin: 0 auto;
  width: 1200px;
  .introduction-sec_name {
    font-size: 5rem;
    letter-spacing: 0px;
    color: #000000;
  }
  .introduction-sec__img {
    margin-top: 48px;
    width: 324px;
    height: 324px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .introduction-sec_list {
    margin-top: 48px;
    &.mt-lg {
      margin-top: 72px;
    }
    .introduction-sec_list-title {
      display: flex;
      align-items: center;
      .introduction-sec_title-text {
        font-size: 2rem;
        line-height: 43px;
        &.red {
          margin-left: 16px;
          font-size: 1.5rem;
          line-height: 32px;
          color: #a00404;
        }
      }
    }
    .introduction-sec_list-text {
      margin-top: 16px;
      font-size: 1.5rem;
      line-height: 36px;
      color: #000000;
      &:first-child {
        margin-top: 16px;
      }
      &.small {
        width: 642px;
        font-size: 1.25rem;
        line-height: 30px;
      }
    }
    .introduction-sec_content-img {
      margin-top: 8px;
      width: 90px;
    }
  }
  .introduction-sec_content {
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid #96a9c4;
  }
}
.list-sec {
  margin-top: 72px;
  padding: 20px 0;
  background: #415165 0% 0% no-repeat padding-box;
  .list-sec_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 996px;
    &.big {
      width: 1200px;
    }
    .list-sec_title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .list-sec_title-text {
        margin-left: 16px;
        font-size: 2rem;
        line-height: 45px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        &:first-child {
          margin-left: 0px;
        }
        &.small {
          font-size: 1.5rem;
          line-height: 32px;
        }
      }
    }
    .list-sec_list {
      margin-top: 37px;
      padding-left: 24px;
      border-left: 1px solid #fff;
      &.no-border {
        border: none;
      }
      &.center {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        padding-left: 0;
        .list-sec_list-item {
          text-align: center;
        }
      }
      .list-sec_list-item {
        margin-top: 16px;
        font-size: 1.5rem;
        line-height: 36px;
        color: #fff;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .list-sec_logo-list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      .list-sec_logo {
        margin-left: 24px;
        width: 8px;
        width: 48px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
.line {
  margin-top: 8px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  &.black {
    background-color: #000000;
  }
}
